<div class="row">
  <article class="section">
    <h2>故障情報</h2>
      <%= form_for @trouble do |f| %>
      <div style="margin: 8px 0">
        故障ID：<%= @trouble.id %><br>
        影響ユーザ数：
        <%= f.number_field :user_num, placeholder: @trouble.user_num, value: 1, max: 150, min: 0, html: { class: "search__query", style: 'text-align: right;' } %>
        <%= f.text_area :vm_name, placeholder: 'VM名', style: 'width: 100%' %>
      </div>
      <div>
        <p>発生日時</p>
        <%= f.datetime_select :trbl_start, class: "form-control", :use_month_numbers => true, :use_two_digit_numbers => true %>
      </div>
      <div>
        <p>回復日時：</p>
        <%= f.datetime_select :trbl_end, class: "form-control", :use_month_numbers => true, :use_two_digit_numbers => true %>
      </div>
      <div style="margin: 8px 0">
        <%= f.text_area :about, placeholder: @trouble.about, style: 'width: 100%;height: 300px;' %>
      </div>
      <div class="">
        <%= button_tag type: "submit", class: "btn btn-primary" do %>
          更新する<i class="icon-arrow-right"></i><% end %>
        <a href="/troubles/<%= @trouble.id %>" class="btn btn-default" role="button">キャンセル</a>
      </div>
    <% end %>
  </article>
</div>
